body {

    background-image: url(/src/netflixfront/AP.jpg);
    background-position: right  top 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
.nf-or{
    
 
    padding-top: 100px;
    padding-left: 50px;
    height: 200px;
    width: 600px;
    /* border: 1px solid red; */
}

.h1_nf_or{
    color:white;
    font-size: 50px;
    padding-bottom: 0px;
    font-family: 'Arial';
}
.para1{
    color: white;
    font-size: 20px;
    font-family: 'Arial';

}
.watch_now{
    color: white;
}

